html, body{
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  background: linear-gradient(0deg, rgba(85,63,14,1) 0%, rgba(54,39,6,1) 100%);
  font-size: 16px;
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
}
#time{
  margin-top: 10px;
  font-size: 1rem;
}
#quote-box{
  max-width: 600px;
  width: 90vw;
  height: 100%;
  max-height: 600px;
  aspect-ratio: 1 / 1;
  background-color: #464E2E;
  color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 1px #000;

  
}
#new-quote{
  background-color: #E9E5D6;
  border: none;
  border-radius: 4px;
  padding: 15px;
  font-size: 1rem;
  flex:auto;
  margin: 0 5% 0 5%;
}
#new-quote:hover{
  background-color: #E9E5D6;
}
#new-quote:active{
  background-color: #d1cec0;
}
#tweet-quote{
  color: #E9E5D6;
  font-size: 1rem;
  flex: auto;
  margin: 0 5% 0 5%;
}
#quote-box-footer{
  position: absolute;
  bottom: 5%;
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 15% ; 
}

#author{
  position: absolute;
  right: 5%;
  font-style: italic;
  font-size: 1.2rem;
}
#text{
  font-size: 1.3rem;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (min-width: 780px) and (min-height: 500px){
  #text{
    font-size: 1.7rem;
  }
  #tweet-quote{
    font-size: 1.5rem;
  }
  #new-quote{
    font-size: 1.5rem;
  }

}